<div class="card">
  <p-tabs
    [value]="activeValue ?? tabs[0]?.value"
    scrollable
    (valueChange)="onTabChange($event)"  >
    <p-tablist>
      @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value" [disabled]="tab.disabled">
          {{ tab.title }}
        </p-tab>
      }
    </p-tablist>

    <p-tabpanels>
      @for (tab of tabs; track tab.value) {
        <p-tabpanel [value]="tab.value">
          <ng-container
            *ngTemplateOutlet="templates?.[tab.value]"
          ></ng-container>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
